/*
 * The Typekit service used to deliver this font or fonts for use on websites
 * is provided by Adobe and is subject to these Terms of Use
 * http://www.adobe.com/products/eulas/tou_typekit. For font license
 * information, see the list below.
 *
 * sys-tt:
 *   - http://typekit.com/eulas/00000000000000003b9b37cb
 *   - http://typekit.com/eulas/00000000000000003b9b37cc
 *   - http://typekit.com/eulas/00000000000000003b9b37cd
 *   - http://typekit.com/eulas/00000000000000003b9b37ce
 *
 * © 2009-2020 Adobe Systems Incorporated. All Rights Reserved.
 */
/*{"last_published":"2020-05-15 04:42:55 UTC"}*/

@import url("https://p.typekit.net/p.css?s=1&k=jli0ncz&ht=tk&f=43168.43169.43170.43171&a=7461133&app=typekit&e=css");

@font-face {
font-family:"SFProText";
src:url("https://use.typekit.net/af/ad4873/00000000000000003b9b37cb/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff2"),url("https://use.typekit.net/af/ad4873/00000000000000003b9b37cb/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff"),url("https://use.typekit.net/af/ad4873/00000000000000003b9b37cb/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("opentype");
font-display:auto;font-style:normal;font-weight:400;
}

@font-face {
font-family:"SFProText";
src:url("https://use.typekit.net/af/7a4364/00000000000000003b9b37cc/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i4&v=3") format("woff2"),url("https://use.typekit.net/af/7a4364/00000000000000003b9b37cc/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i4&v=3") format("woff"),url("https://use.typekit.net/af/7a4364/00000000000000003b9b37cc/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i4&v=3") format("opentype");
font-display:auto;font-style:italic;font-weight:400;
}

@font-face {
font-family:"SFProText";
src:url("https://use.typekit.net/af/63ed77/00000000000000003b9b37cd/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("woff2"),url("https://use.typekit.net/af/63ed77/00000000000000003b9b37cd/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("woff"),url("https://use.typekit.net/af/63ed77/00000000000000003b9b37cd/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("opentype");
font-display:auto;font-style:normal;font-weight:700;
}

@font-face {
font-family:"SFProText";
src:url("https://use.typekit.net/af/c0e50f/00000000000000003b9b37ce/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i7&v=3") format("woff2"),url("https://use.typekit.net/af/c0e50f/00000000000000003b9b37ce/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i7&v=3") format("woff"),url("https://use.typekit.net/af/c0e50f/00000000000000003b9b37ce/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i7&v=3") format("opentype");
font-display:auto;font-style:italic;font-weight:700;
}

/*
.tk-sys-tt { font-family: "SFProText",sans-serif; }


@font-face {
    font-family: 'SFProText';
    src: url('../fonts/SFPro/sf-pro-text-bold.eot');
    src: url('../fonts/SFPro/sf-pro-text-bold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/SFPro/sf-pro-text-bold.woff') format('woff'),
         url('../fonts/SFPro/sf-pro-text-bold.ttf') format('truetype'),
         url('../fonts/SFPro/sf-pro-text-bold.svg#sf_pro_textbold') format('svg');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'SFProText';
    src: url('../fonts/SFPro/sf-pro-text-heavy.eot');
    src: url('../fonts/SFPro/sf-pro-text-heavy.eot?#iefix') format('embedded-opentype'),
         url('../fonts/SFPro/sf-pro-text-heavy.woff') format('woff'),
         url('../fonts/SFPro/sf-pro-text-heavy.ttf') format('truetype'),
         url('../fonts/SFPro/sf-pro-text-heavy.svg#sf_pro_textheavy') format('svg');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'SFProText';
    src: url('../fonts/SFPro/sf-pro-text-light.eot');
    src: url('../fonts/SFPro/sf-pro-text-light.eot?#iefix') format('embedded-opentype'),
         url('../fonts/SFPro/sf-pro-text-light.woff') format('woff'),
         url('../fonts/SFPro/sf-pro-text-light.ttf') format('truetype'),
         url('../fonts/SFPro/sf-pro-text-light.svg#sf_pro_textlight') format('svg');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'SFProText';
    src: url('../fonts/SFPro/sf-pro-text-medium.eot');
    src: url('../fonts/SFPro/sf-pro-text-medium.eot?#iefix') format('embedded-opentype'),
         url('../fonts/SFPro/sf-pro-text-medium.woff') format('woff'),
         url('../fonts/SFPro/sf-pro-text-medium.ttf') format('truetype'),
         url('../fonts/SFPro/sf-pro-text-medium.svg#sf_pro_textmedium') format('svg');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'SFProText';
    src: url('../fonts/SFPro/sf-pro-text-regular.eot');
    src: url('../fonts/SFPro/sf-pro-text-regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/SFPro/sf-pro-text-regular.woff') format('woff'),
         url('../fonts/SFPro/sf-pro-text-regular.ttf') format('truetype'),
         url('../fonts/SFPro/sf-pro-text-regular.svg#sf_pro_textregular') format('svg');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'SFProText';
    src: url('../fonts/SFPro/sf-pro-text-semibold.eot');
    src: url('../fonts/SFPro/sf-pro-text-semibold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/SFPro/sf-pro-text-semibold.woff') format('woff'),
         url('../fonts/SFPro/sf-pro-text-semibold.ttf') format('truetype'),
         url('../fonts/SFPro/sf-pro-text-semibold.svg#sf_pro_textsemibold') format('svg');
    font-weight: 600;
    font-style: normal;
}
*/